:root {
  --white: #fff;
  --burnt-orange: rgb(181, 120, 7);
  --dark-color: rgb(64, 64, 64);
  --light-color: rgb(235, 235, 235);
  --nav-bg: #2e2e2e;
  --orange: orange;
  --percent-50: 120%;
  --percent-100: 300%;
}
body {
  font-family: sans-serif !important;
  min-height: 100vh;
  background-color: var(--white);
}
.h1 {
  text-align: center;
  color: royalblue;
  font-size: 2rem;
}
p {
  text-align: center !important;
  color: rgb(215, 210, 213);
  font-size: var(--percent-50);
}
section {
  margin-top: 1cm;
}
.sect-h1 {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 0.2cm;
  font-size: 2rem;
  border-left: 5px solid var(--burnt-orange);
}
.sect-h1-div {
  padding-left: 4.5cm;
  padding-top: 1cm;
}
/*NAVBAR SECTION*/
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 1;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}

.header:hover::before {
  left: 100%;
}
.logo {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}
.navbar a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover {
  color: #f00;
}

#menu-icon {
  font-size: 36px;
  color: #fff;
  display: none;
  cursor: pointer;
}
/*HEADER SECTION*/

.main-header {
  height: 20cm;
  background-image: url(skyscrapers_in_the_sunset-wallpaper-1920x1080.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.h1-div {
  padding-top: 5cm;
}
.main-header .h1 {
  font-size: 1cm;
  color: white;
}


/*ABOUT SECTION*/

.about-section {
  margin-top: 1cm;
  height: max-content;
}
.a-h1-div {
  padding-left: 5cm;
  padding-top: 1cm;
}
.svg{
  color: red;
  height:50px;
  width: 50px;
}
/*PRODUCTS AND SERVICES*/
.services {
  margin-top: 1cm;
  background-color: var(--light-color);
  height:max-content;
}
.s-h1-div {
  padding-left: 5cm;
  padding-top: 1cm;
}
.services .s-h1 {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 0.2cm;
  border-left: 5px solid var(--burnt-orange);
}
.service-card{
  border: 1px solid var(--burnt-orange);
  height: 5cm;
  border-radius: 0.1cm;
}

/*PRODUCTS SECTION*/

.products {
  background-color: var(--white);
  margin-bottom: 2.5cm;
}
.p-h1-div {
  padding-left: 5cm;
  padding-top: 1cm;
}
.p-h1 {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 0.2cm;
  font-size: 2rem;
  border-left: 5px solid var(--burnt-orange);
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  width: 400px;
  height: max-content;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  position: relative;
}
.image {
  position: relative;
}
.card img {
  width: 100%;
  margin: auto;
  display: block;
  height: 100%;
  border-radius: 0.1cm;
}
.content {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.3s;
}
.content:hover {
  opacity: 1;
}
.content h3 {
  font-size: 55px;
  color: var(--orange);
}

.content p {
  font-size: 20px;
  color: aliceblue;
}
.content > * {
  transform: translateY(25px);
  transition: transform 0.6s;
}

.content:hover > * {
  transform: translateY(0px);
}

/*ADVERTISMENTS*/

.adverts {
  background-color: var(--light-color);
  height: max-content;
}
.ads-h1-div {
  padding-left: 5cm;
  padding-top: 1cm;
}
.ads-h1 {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 0.2cm;
  font-size: 2rem;
  border-left: 5px solid var(--burnt-orange);
}
.ads {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1cm;
}
.ads-card {
  width: 300px;
  text-align: center;
  padding: 50px;
  border: 1px solid var(--burnt-orange);
  border-radius: 0.1cm;
  margin-bottom: 1.5cm;
}
.ads-card h1 {
}
.ads-card p {
}
.ads-card button {
  width: 100px;
  height: 30px;
  border-radius: 0.1cm;
  border: 1px solid var(--burnt-orange);
  transition: 0.2s;
}
.ads-card button:hover {
  background: var(--burnt-orange);
  color: white;
}

.link-wrapper {
  text-align: center;
}
.link-wrapper svg {
  color: var(--burnt-orange);
  width: 50px;
  height: 50px;
  margin: 0.3cm;
  transition: 0.2s;
}
.link-wrapper svg:hover {
  scale: 0.9;
}
/*FOOTER SECTION*/
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 2cm;
}

.footer-content {
  display: block;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.info {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
}

.info a {
  color: #fff;
  margin-right: 10px;
  text-decoration: none;
}

.address {
  width: 300px;
}

.address h4 {
  margin-bottom: 5px;
}

.copyright {
  margin-top: 20px;
}
/*FOOTER END*/
@media (max-width: 425px) {
  .sect-h1 {
    font-size: 1.7rem;
  }
  .sect-h1-div {
    padding-top: 1cm !important;
    padding-left: 1cm !important;
  }
  .services {
    height: 21cm;
    margin-top: 6cm;
  }
  .card {
    display: block;
    width: 95%;
  }
  .ads {
    display: block;
  }
  .ads-card {
    margin: auto;
    width: 90%;
    margin-bottom: 0.5cm;
  }
  .products-container {
    display: block;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0.5rem 4%;
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    margin: 1.5rem 0;
  }

  .nav-bg {
    position: absolute;
    top: 79px;
    left: 0;
    width: 100%;
    height: 295px;
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    z-index: 1;
    display: none;
  }

  .nav-bg.active {
    display: block;
  }
  .card {
    display: flex !important;
    flex-wrap: wrap;
    width: 90%;
  }
  .sect-h1-div {
    padding-left: 1cm;
    padding-top: 1cm;
  }
}

@media (min-width: 748px) {
  .sect-h1-div {
    padding-left: 2cm;
    padding-top: 1cm;
  }
  .card {
    width: 70%;
  }
  .services {
    margin-top: 6cm;
  }
}

@media (max-width: 992px) {
  .header {
    padding: 1.25rem 4%;
  }
}


@media (min-width: 1024px) {
  .sect-h1 {
    margin-bottom: 1.5cm;
  }
  .sect-h1-div {
    padding-left: 3cm ;
  }
  .motto-wrapper{
    display: none !important;
  }
  .ads {
    padding-left: 10%;
  }
  .products-container {
    display: flex !important;
    flex-wrap: wrap !important;
  }
  .card {
    width: 492px;
  }
}
@media (max-width: 1024px) {
  .main-nav-ul {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .sect-h1-div {
    padding-left: 2.3cm;
    padding-top: 1cm;
  }
  .services {
    margin-top: 6cm;
  }
}
